// bower:scss
// endbower

*{
  padding: 0;
  margin: 0;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
  height: 100%;
}

.pic-container {
  margin: 5% auto 0 auto;
  position: relative;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border: 10vw solid black;
}

.main-container{
  margin: 5% auto 5% auto;
  width: 70%;
  position: relative;
}

.carousel-pic{
  max-width: 100%;
}

%arrow{
  top: 40%;
  position: absolute;
  font-size: 4vw;
  color: #33373B;
  &:hover{
    color: purple;
  }
}

.arrow-left{
  @extend %arrow;
  left: 1vw;
}

.arrow-right{
  @extend %arrow;
  right: 1vw;
}
