// bower:scss
// endbower

*{
  padding: 0;
  margin: 0;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
  height: 100%;
  //border: 2px solid blue;
}

.main-container {
  margin: 5% auto 0 auto;
  position: relative;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  //border: 2px solid red;
}

.carousel-pic{
  min-height: 100%;
  //border: 2px solid blue;
}

%arrow{
  //top: 40%;
  top:25vw;
  position: absolute;
  font-size: 4em;
  color: #33373B;
  &:hover{
    color: grey;
  }
}

.arrow-left{
  @extend %arrow;
  left: 15vw;
}

.arrow-right{
  @extend %arrow;
  right: 15vw;
}
